@use '../../../styles/variables';

.header {
	display: flex;
	justify-content: flex-start;

	>h3 {
		font-size: 2.2rem;
		font-weight: 600;
		text-transform: uppercase;
		margin: 0;
	}
}

.dark {
	color: variables.$dark;
}

.light {
	color: variables.$light;
}