@font-face {
    font-family: 'Alumni';
    src: local('Alumni'),
        url('../resources/fonts/AlumniSans-VariableFont_wght.ttf') format('truetype'),
        url('../resources/fonts/AlumniSansVariableFont.woff') format('woff'),
        url('../resources/fonts/AlumniSansVariableFont.woff2') format('woff2');
    //font-weight: 500;
    font-style: normal;
}